<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="head"></div>
    <h1><%= title %></h1>
    <p>Welcome to The <%= title %></p>
    <p>By <b>Nate Williams</b></p>
    <a src="https://oauth.groupme.com/oauth/authorize?client_id=9qAyyvBjOrPsvkrrFA6Lgmq3I5g5kvPqquGIVkYv4lOoMDXi">Log In</a>
  </div>
    <form action="/" method="post">
      <% if (groups) { %>
      <label for="groupMeId">Choose a Groupme:</label>
        <select name="groupMeId" id="groupMeId">
            <% groups.forEach(function(group) { %>
                <option value="<%= group.id %>"><%= group.name %></option>
            <% }); %>
        </select>
      <br>
      <% }; %>
      <label for="authorName">Search by author:</label>
      <input type="text" id="authorName" name="authorName" placeholder="Start typing...">
      <ul id="suggestions" style="list-style-type: none;"></ul>
      <label for="searchText">Search text:</label>
      <input type="text" id="searchText" name="searchText">
      <br>
      <label for="afterDate">Search "after" date</label>
      <input type="date" id="afterDate" name="afterDate">
      <br>
      <label for="beforeDate">Search "before" date</label>
      <input type="date" id="beforeDate" name="beforeDate">
      <br>
      <label for="rank">Rank by likes?</label>
      <select name="rank" id="rank">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <button type="submit" onclick="addSearchTextToUrl()">Submit</button>
  </form>
  <script>
    


  </script>
  <% if (result) { %>
    <div id="result">
      <% for(let i = 0; i < result.length; i++) { %>
        <div class="result-item">
          <% if (rank) { %>
            <h2><%= i+1 %></h2>
          <% } %>
          <div class="result-content">
            <p><%= result[i].date %></p>
            <b><%= result[i].author %></b>
            <div> <!-- New div for better control over layout -->
              <% if (result[i].text != null && result[i].text.substring(0, 4)!="http") { %>
                <p><%= result[i].text %></p>
              <% } %>
              <% if (result[i].text == null) { %>
                <a href="<%= result[i].img %>" target="_blank" rel="noopener noreferrer">Link to img</a>
                <br> <!-- Ensure separation -->
              <% } %>
              <% if (result[i].text!=null && result[i].text.substring(0, 4)=="http") { %>
                <a href="<%= result[i].text %>" target="_blank" rel="noopener noreferrer">Link to video</a>
                <br> <!-- Ensure separation -->
              <% } %>
            </div>
            <p style="color: blue">Likes: <%= result[i].likes %></p>
          </div>
          <a href="/incontext?messageId=<%=result[i].id%>&?messageAfter=<%=result[i].messageAfter%>">In Context</a>
        </div>
      <% } %>
    </div>
  <% } %>  
  <script>
    //highlight search text
function addSearchTextToUrl() {
    const searchText = document.getElementById('searchText').value;
    const form = document.querySelector('form');
    const url = new URL(form.action, window.location.origin);
    url.searchParams.set('searchText', searchText);
    form.action = url.toString();
  }

  const searchText = '<%= searchText %>';
  const resultElements = document.querySelectorAll('.result-content p');

  resultElements.forEach(resultElement => {
    const text = resultElement.textContent;
    const highlightedText = text.replace(new RegExp(searchText, 'gi'), `<span class="highlight">$&</span>`);
    resultElement.innerHTML = highlightedText;
  });
  </script>
  </body>
</html>
